body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: url(./img/pexels-pixabay-209831.jpg) no-repeat center center/ cover;
}

#app{
    display: grid;
    grid-auto-rows: minmax(80px, auto);
    height:100vh;
    background: #bb012344;
    color: #f0d43a;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin:auto;
}

.holder{
    color:#e91e63;
    font-size: 25px;
    font-weight: bold;
    display:inline-flex;
}

.zip{
    justify-content:left;
}
.entry{
    background: rgba(59, 74, 107, .4);
    margin-bottom: 40px;
}

#entryHolder{
    height:auto;
}

#date{
font-style: italic;
}

#temp{
    font-style: italic;
}

#content{
    font-style: italic;
}

.headline {
    display: inline;
}

.myInput{
    grid-auto-rows: auto;
}
.title{
    color: rgb(51, 1, 51);
    font-size:  30px;
    font-weight: bold;
    font-style: italic;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 50px;
    width: 200px;
    background:rgba(59, 74, 107, .4);
    color: #f0d43a;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 150px;
    height: 40px;
    background: rgba(59, 74, 107, .4);
    color: rgb(51, 1, 51);
    font-weight: bold;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}


button.invalid {
    cursor: not-allowed;
}

h1{
    font-size: 36px;
}

textarea{
    background: rgba(59, 74, 107, .4);
    color: #f0d43a;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    width: 250px;
    height:50px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;
    
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 